[2016-03-03 09:54] dsyer opened #2 "Please adopt a different naming convention for the "starter" artifact"
It's great to see people developing new Spring Boot features, so thanks for making this available. The Spring Boot team requests that you not use the "spring-boot-starter" prefix for your artifacts though (here's a link to the user guide explaining the policy: http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-starter-naming). Can you change it please?

[2016-03-03 15:25] fabiocarvalho777 commented on #2
Hello,
Sure, no problem. Sorry, we were not aware of this guideline to name starters. Thanks for letting us know.
So, I just read it, and sounds like I could rename it to **resteasy-spring-boot-starter** (instead of **spring-boot-starter-resteasy**). Please confirm to me if this new name would be Ok.

[2016-03-03 17:08] dsyer commented on #2
That works fine for us.

[2016-03-07 17:55] fabiocarvalho777 commented on #2
Renamed:
https://github.com/paypal/resteasy-spring-boot/commit/ba348425cfac283ee8e0c1693e1395ee92bbba16
https://github.com/paypal/resteasy-spring-boot/commit/b80150f8ffa3866861a2dc0e144342559cce8213

[2016-03-07 17:55] #2 closed

[2016-03-09 18:14] fabiocarvalho777 opened #3 "Add RESTEasy Spring Boot starter to Spring Boot list of third-party starters"
After RESTEasy Spring Boot starter pass LnP tests, and after its 2.0.0-RELEASE version is released then submit a pull-request to this [README](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-starters/README.adoc)

This was a request made by Spring Boot team.

[2016-03-09 18:15] fabiocarvalho777 opened #4 "Replace ComponentScan by Import annotations"
Replace `@ComponentScan` on `ResteasySpringBootConfig` by `@Import` annotations. This is a recommendation from Spring Boot team.

[2016-03-24 21:56] fabiocarvalho777 opened #5 "Classpath scanner prints warning when a non jar file is scanned"
Classpath scanner (in [ResteasyEmbeddedServletInitializer.findJaxrsClasses](https://github.com/paypal/resteasy-spring-boot/blob/2.0.x/resteasy-spring-boot-starter/src/main/java/com/paypal/springboot/resteasy/ResteasyEmbeddedServletInitializer.java#L50)) prints warning whenever it finds a file that is not a jar (like a pom.xml file).
See the stack trace below as example.
[code]

[2016-03-28 14:20] fabiocarvalho777 opened #6 "JAX-RS application and endpoints don't get registered when running mvn spring-boot:run"
When starting the application from the IDE, or from a java command directly, the application starts-up fine and everything works as expected.

However, if the application is started using the **mvn spring-boot:run** command, then for some reason the JAX-RS application and endpoints don't get registered.

The following log statements are missing when running the sample application from **mvn spring

[2016-03-28 14:32] fabiocarvalho777 opened #7 "Remove custom RESTEasy classes as soon as RESTEasy 3.0.17.Final is released"
Remove the custom RESTEasy classes listed below as soon as [RESTEasy 3.0.17.Final](https://issues.jboss.org/projects/RESTEASY/versions/12329806) is released, besides also upgrading RESTEasy version in RESTEasy Spring Boot starter to 3.0.17.Final, since it will have [this change on it](https://github.com/resteasy/Resteasy/pull/744), based on [this issue](https://issues.jboss.org/browse/RESTEASY-130

[2016-03-28 19:05] sgardnerdell commented on #6
I've done some debugging of this issue and have tracked the problem down to the ResteasyEmbeddedServletInitializer::findJaxrsClasses method.

When instantiating the Reflections API, this method uses ClasspathHelper.forJavaClassPath().
This gives the correct results when running the application directly, but when running the mvn spring-boot:run command this only returns a single entry (a jar from t

[2016-03-28 19:14] fabiocarvalho777 commented on #6
Thanks. The solution you mention breaks the application when building and running from the IDE. I have written a solution that works in all situations. I am checking in the change. Thanks again for reporting it!!

[2016-03-28 19:18] #6 closed

[2016-03-28 19:20] fabiocarvalho777 commented on #5
This has been fixed as a result of fixing [issue 6](See https://github.com/paypal/resteasy-spring-boot/issues/6)

[2016-03-28 19:20] #5 closed

[2016-03-28 19:25] sgardnerdell commented on #6
Interesting.  It worked from the IDE in my environment.  Just had a look at your change though and taking the aggregate lists would definitely cover both scenarios.  Thanks for the quick fix!

[2016-03-28 20:21] fabiocarvalho777 commented on #6
Maybe it varies from IDE? I was using IntelliJ. Thank you too!!

[2016-04-05 15:19] koscejev opened #8 "Don't skip all applications if one has no path"
See code in `ResteasyEmbeddedServletInitializer`. It seems that that `return` was supposed to be a `continue`. :)

[code]

[2016-04-05 22:55] fabiocarvalho777 commented on #8
Thanks a lot for reporting this bug! You are right, I meant to say "continue" there, but maybe because I didn't have breakfast that morning I said "return" instead. I have just fixed it ;-)

ps.: we will release this fix, and others, very soon via version 2.0.0

[2016-04-05 22:55] #8 closed

[2016-04-06 07:41] koscejev opened #9 "Carry over settings from regular deployment"
According to javadoc, `CustomDispatcherResteasyDeployment` will likely be removed in the future, so this will not be an issue. But I don't know how likely it is that this will be incorporated into Resteasy itself anytime soon. :/

[code]

When `CustomDispatcherResteasyDeployment` is created, it's created based on regular `ResteasyDeployment`. However, the custom one only takes `actualProviderClass

[2016-04-06 07:55] koscejev commented on #9
Judging by #7 this really is non-issue - just have to wait for Resteasy 3.0.17.Final. So I'm guessing this will be closed as Won't Fix.

Is there any workaround you could suggest in the mean time, so we can continue developing our wildfly/spring-boot migration PoC?

[2016-04-06 16:46] fabiocarvalho777 commented on #9
You are right, this is not considered an issue because CustomDispatcherResteasyDeployment (and the other two custom classes) are supposed to be removed as soon as RESTEasy 3.0.17.Final is released. By the way, notice that they have already merged [my PR](https://github.com/resteasy/Resteasy/pull/744), so there is no doubts RESTEasy 3.0.17.Final will have the necessary support so that we can remove

[2016-04-06 18:42] fabiocarvalho777 commented on #4
Fixed by https://github.com/paypal/resteasy-spring-boot/commit/996e22f89a9be11d830a79637cead974d848163c

[2016-04-06 18:42] #4 closed

[2016-04-07 08:39] koscejev commented on #9
The timeline for 3.0.17 is not encouraging - it seems they are only in the middle of this release and they do only about 4-5 releases a year, so this could easily take a month or two. However, I also don't like the idea of developing something that will definitely be thrown away completely, especially considering how many things one would have to think about to transfer all those settings.

Perhap

[2016-04-07 21:02] fabiocarvalho777 commented on #9
We could try third option, but not really sure yet if it would work. Also, I might not have time right now for that if it takes too long to complete. Would you be willing to try that yourself and send a pull request?

[2016-04-08 15:16] fabiocarvalho777 commented on #9
Hey Anton, after I researched a little bit more on this, I changed my mind about this situation.
As you said before, RESTEasy provides configuration via Servlet Context parameters ([as seen here(http://docs.jboss.org/resteasy/docs/3.0.16.Final/userguide/html_single/index.html#d4e127)]). So, no matter what the RESTEasy Spring Boot starter has to offer a way to have those properties configurable (si

[2016-04-08 15:21] fabiocarvalho777 opened #10 "Support RESTEasy configuration"
RESTEasy provides configuration via Servlet Context parameters, [as seen here](http://docs.jboss.org/resteasy/docs/3.0.17.Final/userguide/html_single/index.html#d4e127).

However, **web.xml** and **web-fragment.xml** are not possible in embedded containers. The good news though is that Spring Boot offers an alternative way to set Servlet Context parameters, and that is via adding `server.context-p

[2016-04-08 15:21] fabiocarvalho777 commented on #9
Here it is: #10

[2016-04-27 15:37] fabiocarvalho777 opened #13 "Add automated integration tests"
Add automated integration tests covering as much features as possible.

[2016-04-28 16:02] fabiocarvalho777 commented on #3
A PR has been sent. Here it is:

https://github.com/spring-projects/spring-boot/pull/5816

[2016-05-18 16:51] fabiocarvalho777 commented on #3
Done

[2016-05-18 16:51] #3 closed

[2016-05-18 16:53] fabiocarvalho777 opened #16 "Upgrade RESTEasy to version 3.0.17.Final"

[2016-05-18 16:54] fabiocarvalho777 opened #17 "Upgrade Sprig Boot to version 1.3.5"
Upgrade Sprig Boot to latest version. At the time this issue was opened the latest version was 1.3.5, but upgrade to the latest version, if a newer is available.

[2016-05-18 17:06] fabiocarvalho777 opened #18 "Component annotation removal from ResteasyEmbeddedServletInitializer"
Remove unnecessary Component annotation from ResteasyEmbeddedServletInitializer class, since it is registration is not relying on class-path scanning, but on the Import annotation from ResteasySpringBootConfig class

[2016-05-18 17:08] #18 closed

[2016-05-24 16:36] #17 closed

[2016-05-24 16:36] #16 closed

[2016-05-24 16:37] #7 closed

[2016-05-25 20:02] fabiocarvalho777 opened #19 "JAX-RS resources resolution should be targeted towards Spring beans only"
JAX-RS resources resolution should be targeted towards Spring beans only, instead of any regular (non-Spring bean) JAX-RS Path or Provider annotated class. That means it is necessary to move from classpath scanning to Spring beans scanning when looking for JAX-RS resources and providers.

[2016-05-25 20:04] fabiocarvalho777 opened #20 "Add extra end-user documentation"
So far RESTEasy Spring Boot starter usage has been very simple and easy, so documentation has not really been necessary, other than a sample app and a few simple instructions.

However, it would be better to introduce proper documentation. We need to clarify for example the situation described in [issue 19](https://github.com/paypal/resteasy-spring-boot/issues/19)

[2016-06-09 20:46] #19 closed

[2016-07-12 00:01] rgrebski commented on #19
Has that been fixed ? I can steel see classpath scanning in 2.0.1-RELEASE

[2016-07-12 16:33] fabiocarvalho777 opened #22 "Add configuration to turn OFF scanning for JAX-RS Application sub-classes"
Make scanner configurable, so it would be possible to turn it OFF.
In this case, JAX-RS `Application` sub-classes would have to be identified by one of these two methods:

1. By manually setting a property for it (via Spring Boot application properties file)
1. By having them as Spring beans as well

This configuration though would not be used by default. The default method would remain class-path

[2016-07-12 16:40] fabiocarvalho777 commented on #19
One more thing. I have just opened this [new feature request here](https://github.com/paypal/resteasy-spring-boot/issues/22). Is that something you are looking for?

[2016-07-12 16:46] rgrebski commented on #19
Thx, this is exactly what I am looking for.
If you need help, let me know, I would be happy to contribute.

[2016-07-18 16:03] fabiocarvalho777 commented on #19
Thanks Radek!! I am going to work on it today and release a new version with it. I will let you know when it is ready.

[2016-07-19 20:04] #22 closed

[2016-07-19 21:00] #20 closed

[2016-07-19 21:21] fabiocarvalho777 commented on #19
Hey Radek, issue #22 has been finished. It is already available via version 2.1.0-SNAPSHOT. Read [this section](https://github.com/paypal/resteasy-spring-boot/tree/2.1.x#registering-jax-rs-application-classes) to know how to use. I am going to work on one or more issue and then release version 2.1.0, hopefully that will be done by the end of this week. Let me know if you have any question or comme

[2016-07-19 21:49] fabiocarvalho777 commented on #9
This issue has been solved since issue #7 was solved.

[2016-07-19 21:49] #9 closed

[2016-07-19 22:20] fabiocarvalho777 opened #23 "Make sure section 2.3.2 in JAX-RS 2.0 spec is followed strictly in regard to the absence of JAX-RS Application classes"

[2016-07-20 16:53] fabiocarvalho777 opened #24 "Automate Travis CI"
Automate Travis CI for SNAPSHOT deployments and Cobertura report upload to Codacy

[2016-07-20 16:54] fabiocarvalho777 opened #25 "Add Cobertura code coverage"

[2016-07-20 16:57] #25 closed

[2016-07-20 23:39] #24 closed

[2016-07-21 20:17] #23 closed

[2016-07-21 20:22] fabiocarvalho777 opened #26 "Support specifying resources and providers per application"
Support specifying JAX-RS resources and providers per JAX-RS application, based on section 2.3.2 in the JAX-RS 2.0 specification.

"_If either `getClasses` or `getSingletons` returns a non-empty collection then only those classes or singletons returned MUST be included in the published JAX-RS application_"

That must be respected even in the case of multiple JAX-RS applications.

[2016-07-21 21:24] #10 closed

[2016-07-21 21:46] fabiocarvalho777 opened #27 "Upgrade RESTEasy and SpringBoot to latest versions"
Upgrade SpringBoot to version 1.3.6.RELEASE
Upgrade RESTEasy to version 3.0.18.Final

[2016-07-21 21:46] #27 closed

[2016-07-21 23:15] fabiocarvalho777 commented on #19
@rgrebski version 2.1.0 has just been released, and it contains #22

[2016-07-22 00:22] fkleon opened #30 "JAX-RS application fails to register after upgrade to 2.1.0"
I have a JAX-RS application class that also acts as Spring Boot entry point via `@SpringBootApplication`.

This fails to register properly after upgrading to 2.1.0 because the `ResteasyEmbeddedServletInitializer` can't find the application path annotation on that class.

It works fine if I split the Spring Boot app and the JAX-RS app into different classes.

Here are the debug logs, looks like use

[2016-07-22 02:03] fabiocarvalho777 commented on #30
Thanks for reporting Frederik. I am taking a look at it right now. Meanwhile, add an `application.properties` file under `.src/main/resources` with the content below. This should work, let me know how it goes.

[code]

[2016-07-22 02:36] fabiocarvalho777 commented on #30
Hello, I have just fixed the problem in version 2.1.1-SNAPSHOT via (see the commit link above). I have tested with the code you provided and it worked. Please test as well and let me know how it goes, then tomorrow I will close this defect and release version 2.1.1-RELEASE. Thanks a lot for reporting it.

[2016-07-22 02:45] fkleon commented on #30
Hi Fábio, that fix works for me.

Thanks for the quick response and this awesome RESTeasy Spring Boot starter!

[2016-07-22 02:59] fabiocarvalho777 commented on #30
Great, thanks a lot! I will release 2.1.1 tomorrow ;-)

[2016-07-22 02:59] #30 closed

[2016-07-23 04:00] rgrebski commented on #19
Thanks a lot ! Im gonna use it next week once Im back from holiday!

[2016-08-09 04:45] fabiocarvalho777 opened #32 "Documentation has a contradiction about registering Application subclasses"
The phrase "If after that still no JAX-RS application class could be registered, then the Spring Boot application won't be able to serve any request" contradicts the first item on the list right after it. Revisit that, and probably remove it.

[2016-08-09 04:47] fabiocarvalho777 opened #33 "Upgrade to the latest Spring Boot and the RESTEasy versions"

[2016-08-09 08:19] rgrebski commented on #19
Thanks again, works like a charm. Before the fix when I tried running from .jar (java -jar my-spring-boot-app.jar) it could not find RestEasy Application class, but now I registered it as a Spring bean and works just perfect

[2016-08-10 18:12] fabiocarvalho777 opened #34 "Mockito should be set to test scope"
[This dependency](https://github.com/paypal/resteasy-spring-boot/blob/master/resteasy-spring-boot-starter/pom.xml#L118) should be set to test scope.

[2016-08-23 13:49] leonardschneider opened #35 "Not possible to use application property in application.yml"
Because JAXRS_APP_CLASSES_PROPERTY (resteasy.jaxrs.app) is a parent of JAXRS_APP_CLASSES_DEFINITION_PROPERTY  (resteasy.jaxrs.app.registration) which violates YAML syntax.

[2016-08-24 04:03] fabiocarvalho777 commented on #35
Hello Leonard. Thank you very much for reporting it. I will take a look at this issue as soon as possible (very likely by the end of this week) and, if necessary, provide a new release with the fix immediately. Thanks again.

[2016-08-24 04:06] fabiocarvalho777 commented on #35
By the way, meanwhile you can still use the starter  normally by not setting the properties, which will make it use the default configuration, or by using a properties file instead of yaml if possible.

[2016-08-24 05:32] fabiocarvalho777 commented on #35
Hello. I just want to let you know that I have just confirmed that it is indeed a bug, and I have already fixed it in my dev box. I will just update documentation and then push the fix and release a new version with the fix. All of that should be done in a few days. I will let you know. Thanks again for reporting it.

[2016-08-29 23:39] fabiocarvalho777 opened #36 "Remove finally deprecated property resteasy.jaxrs.app"
See issue #35 for reference.

[2016-08-30 00:25] fabiocarvalho777 commented on #35
Hey @leonardschneider , this issue has been fixed. Please, instead of `resteasy.jaxrs.app`, use `resteasy.jaxrs.app.classes` to define your JAX-RS classed, as explained [here](https://github.com/paypal/resteasy-spring-boot/blob/develop/mds/USAGE.md#jax-rs-application-registration-methods). You can test that with version `2.2.0-SNAPSHOT`. Please let me know how it goes. I am going to release versio

[2016-08-30 00:25] #35 closed

[2016-08-30 14:44] #34 closed

[2016-08-30 14:44] #33 closed

[2016-08-30 14:44] #32 closed

[2016-08-31 20:51] fabiocarvalho777 commented on #35
Version 2.2.0 (with this fix) has been released.

[2016-09-02 00:01] leonardschneider commented on #35
Hi,

Sorry, just catching up now. Thanks a lot for the fix. I will give it a try.

On Wed, Aug 31, 2016 at 4:51 PM, Fábio Carvalho <notifications@github.com>
wrote:

[2016-09-29 21:06] zachariahyoung opened #38 "Questions about parent POM"
I just watched your Spring One session on how you have configured Spring Boot.  I would like to ask one question.  On each of your spring boot applications is the parent pom still spring boot.  Or do you have a parent pom for Paypal?

I appears that you just have a core starter pom then sub starter poms for each type of applications.

Thanks

Zach

[2016-09-29 23:04] fabiocarvalho777 commented on #38
Hello Zach,

In our PayPal Spring Boot applications the parent pom is not the Spring Boot one, it is a PayPal one actually.

What we do is we bring Spring Boot BOM as a managed dependency, pom type and import scope, and that works pretty well. As seen below.

[code]

[2016-09-29 23:06] #38 closed

[2016-10-11 19:28] zachariahyoung commented on #38
One last question, do your starter POM referrence the Paypal Parent POM?

[2016-10-11 19:51] fabiocarvalho777 commented on #38
I am not sure I understood your question but, just to clarify, this RESTEasy Spring Boot starter is 100% free of any PayPal or any proprietary code.

Now, talking about the PayPal starters we have, yes, they somehow reference the PayPal parent POM, but not was you might think, since what I am calling here "PayPal parent POM" is more complex than a single POM file, it has many different layers. So,

[2016-10-26 13:58] tommyJimmy87 opened #39 "Integration Ignore @Valid javax.validation"
Hi,
i'm trying to integrate Bean Validation (javax.validation) in your application stack.
I'm trying, for example, with @NotNull or @Size, but they are complete ignored.
Here my interface :

`@Produces("application/json")
@Path("/recharges")
public interface RechargeController {
  @GET
  @Path("/")
  public BpeRechargeSearchResponse getRecharges(@Valid @BeanParam BpeRechargeSearchRequest request);

[2016-10-26 19:52] fabiocarvalho777 commented on #39
Did you include a bean validations implementation to your application? Usually Hibernate is the one used. Please research about Hibernate implementation for Bean Validations. BTW, I can't see how the starter would relate to this.

[2016-11-09 12:34] janzak opened #40 "Spring 4.1 is not supported although it easily can be"
Compatibility of resteasy-spring-boot with Spring 4.1 is unfortunately broken just because of using the Import annotation to directly reference a Spring component which is not allowed in this version of Spring. The limitation has been removed in Spring 4.2 but I would like to use resteasy-spring-boot in a project where I have to keep Spring 4.1 for certain reasons.

However, the Import annotation

[2016-11-09 12:40] janzak commented on #40
Please, see https://github.com/paypal/resteasy-spring-boot/pull/41

[2016-11-09 17:08] #39 closed

[2016-11-09 17:15] fabiocarvalho777 commented on #40
Hi Janzak.

In your PR you forgot to remove the @Component from one those two classes. Please, go ahead and fix that in your PR (squash your second commit please).

Notice also that the CI build for your PR failed. Would you mind checking that too? I can't merge it if the CI build doesn't pass.

Finally, I need to say that this project was reviewed by Spring and Spring Boot framework teams and usi

[2016-11-19 22:11] fabiocarvalho777 opened #42 "Remove deprecated code"
Spring Boot 1.4 deprecated a part of its API used by this starter, such as class ServletRegistrationBean (it actually moved to a different package), used in ResteasyApplicationBuilder. Remove deprecated code, or adjust it accordingly with the latest API.

[2016-11-19 22:58] fabiocarvalho777 commented on #40
Merged. This change will be part of the next release (whose deliver date has not been decided yet). Thanks for you contribution.

[2016-11-19 23:02] fabiocarvalho777 opened #43 "Upgrade Spring Boot to version 1.4.2"

[2016-11-19 23:04] fabiocarvalho777 opened #44 "Fix CI travis jpm usage"
After that is solved, remove comment mark from Travis CI badge in README.md

[2016-11-19 23:04] fabiocarvalho777 commented on #40
I will leave this open to remind me to add it to the next release release notes document.

[2016-11-20 17:23] #42 closed

[2016-11-20 17:23] fabiocarvalho777 commented on #40
Closing and releasing it today.

[2016-11-20 17:23] #40 closed

[2016-11-20 17:23] #43 closed

[2016-11-20 18:15] fabiocarvalho777 commented on #40
Version 2.2.1-RELEASE has just been published with your changes.

[2016-12-23 13:12] fehmer opened #46 "Add easy-to-use integration tests"
It would be nice to give users of this module an easy and nice way to write integration tests for their resteasy jaxrs services.

The tests should

- not be executed in normal `mvn test` but in `mvn integration-test`
- start the application on a random port
- allow easy definition and validation of requests/responses
- allow to inject mocks in the running application

The documentation should cont

[2016-12-23 13:17] fehmer commented on #46
Hi,

i started working on this issue. I used http://rest-assured.io/ for the definition and validating of the requests. The application is started with SpringApplication.run on a random port and stopped when the test class is finished. The test class is part of the spring java config to allow the definition of mocks.

I added a new module resteasy-spring-boot-test and modified the example-app to u

[2016-12-23 16:44] fabiocarvalho777 commented on #46
Hello Christian,

Thanks for your contribution, it is definitely valuable.

Just double checking though, I understand this issue would offer to Spring Boot RESTEasy application developers a tool to write integration tests to their applications. But the question is, are you going to develop functional tests for the RESTEasy starter itself too? I am asking because if you are, then that would also ta

[2016-12-30 11:59] fehmer commented on #46
Hi @fabiocarvalho777,

firstly thanks for releasing this project. I think it is a very good starting point for spring boot and rest easy.

I had a brief look at the open issues to prevent creating a duplicate for this and found #13. I think #13 is meant to introduce functional tests for the starter module itself. My code can be used to write functional tests by creating an application similar to t

[2016-12-30 12:08] fehmer commented on #46
PR: #47

[2017-01-03 11:58] fehmer commented on #44
Hi @fabiocarvalho777 ,

PR #48 fixes the travis build. I updated the installation of jpm according to the documentation. I tried to create the needed directories within the travis script to avoid using sudo on the jpm calls but i had no luck. If you are okay with using sudo the PR should fix the travis problem.

best regards, christian

[2017-01-03 19:54] fabiocarvalho777 commented on #44
Hello @fehmer . Thanks for all your help. I will review and merge your PR and everything else after January 11th, as I am on vacation now. Thanks again!

[2017-01-11 19:45] fabiocarvalho777 commented on #44
@fehmer your PR has been merged, and it worked. The only pending issue now is the Travis CI badge in the README document that, for some reason, even though the latest build succeeded, showed as "error". But I consider that a separated issue, since the actual build is for sure working. I wait a little to see if that might be a synchronization issue anyhow. If not, I will open a separated issue for

[2017-01-11 19:46] #44 closed

[2017-01-11 20:13] fabiocarvalho777 commented on #44
Just fixed the Travis CI badge by cherry picking your fix to master branch, so it is all good now. Thanks again!

[2017-01-12 21:53] fabiocarvalho777 commented on #46
Ok, after taking a better look at this suggestion and its PR, I would like to discuss it more.

I have noticed that there is nothing on its concept and implementation that is really RESTEasy specific. It could be used pretty much against any REST application developed using Spring Boot, even if it uses Jersey instead of RESTEasy, or even a non JAX-RS solution, like Spring Boot REST apps using Spri

[2017-01-13 11:41] fehmer commented on #46
Hi @fabiocarvalho777,

you are right. The implementation is not RESTEasy specific at all. The concept is to test the rest service as a client and the client does not know that the server is implemented using RESTEasy.

The new module has no dependency to the resteasy-spring-boot modules at all, so it might be the wrong place. On the other hand it would be nice to provide the users of your starter

[2017-01-13 17:57] fabiocarvalho777 commented on #46
Hi Christian,

I prefer to keep the scope of this project strict, that is important to make it maintainable. So I prefer to not add the test framework, but thanks for your contribution.

Like I said earlier, I still think most of that code can be used as solution for #13 though. So, if you want, you can convert the code in PR 47 accordingly and use it for #13. Or we can just close it and create a

[2017-01-13 18:09] fehmer commented on #46
okay, close the PR please.

[2017-01-13 19:34] #46 closed

[2017-01-23 18:59] #13 closed

[2017-01-23 19:02] fabiocarvalho777 opened #49 "Upgrade to latest RESTEasy version"
Upgrade to latest RESTEasy version, which was 3.1.0 at the time this issue was opened.

[2017-01-23 19:03] fabiocarvalho777 opened #50 "Upgrade to Spring Boot version 1.5.1"
Upgrade to latest Spring Boot version, which was 1.5.1 at the time this issue was closed.

[2017-01-31 23:32] asoldano opened #51 "Do not share ResteasyProviderFactory and Registry among applications"
ResteasySpringBootConfig currently uses the same ResteasyProviderFactory and Registry instances for all applications. I believe this is wrong; as an example, you could have registry clashes with applications using the same url.
This seems to the root cause of the problem described at http://stackoverflow.com/questions/41909564/resteasy-spring-incorrect-app-instance-loaded-during-tests-with-multipl

[2017-02-01 16:01] #51 closed

[2017-02-01 16:31] fabiocarvalho777 opened #54 "Add a test case to integration tests to reproduce issue with multiple applications"
Add a test case to integration tests to reproduce issue #51.
To make sure it in fact exposes the issue, undo the fix (provided by PR #52) run the test and make sure it breaks. Bring back the fix and make sure the test passes.

[2017-02-15 15:40] sergeykad opened #56 "Warning messages during startup"
Spring reports the following warnings on Startup:

WARN  o.s.c.a.ConfigurationClassEnhancer - @Bean method ResteasySpringBootConfig.springBeanProcessor is non-static and returns an object assignable to Spring's BeanFactoryPostProcessor interface. This will result in a failure to process annotations such as @Autowired, @Resource and @PostConstruct within the method's declaring @Configuration class.

[2017-02-18 00:00] fabiocarvalho777 commented on #56
Thanks for reporting it. I will get that fixed and release a new version with the fix very soon.

[2017-02-18 00:52] fabiocarvalho777 opened #57 "Add test that checks for warning or error messages"
Add a test case to integration test that checks for warnings or error messages during sample application start-up, and when processing a request, and fails if any is found

[2017-02-19 04:21] ighack opened #58 "RESTEASY003815: Subresource for target class has no jax-rs annotations.: com.simpleSpring.ighack.Greeting"
Greeting
[code]
GreetingRestEasy
[code]

JaxrsApplication
[code]
SimpleSpringApplication

[code]
http://127.0.0.1:8080/simplespring/resteasy/greeting

I get error

What should I do?
Thanks

[2017-02-19 08:51] ighack commented on #58
I miss out on @POST

but I also get nothing
page is empty

[2017-02-20 01:23] miguelsauza commented on #58
@ighack the return object must be javax.ws.rs.core.Response type.

[2017-02-22 22:42] #58 closed

[2017-02-22 22:59] #56 closed

[2017-02-22 23:01] #49 closed

[2017-02-22 23:28] #50 closed

[2017-02-22 23:53] fabiocarvalho777 commented on #56
RESTEasy Spring Boot starter version 2.3.0 has just been released with this fix. Notice that it also has RESTEasy and Spring Boot revved up to their latest release versions.

[2017-02-22 23:57] fabiocarvalho777 opened #60 "Preparing for 2.3.1-SNAPSHOT"

[2017-02-23 00:01] fabiocarvalho777 commented on #56
By the way, it takes some time before Maven public release repositories synchronize, so give it some time before trying to use version 2.3.0. Usually it doesn't take more than one day.

[2017-02-28 04:15] #57 closed

[2017-02-28 04:16] #60 closed

[2017-03-12 16:23] christophe1234 opened #61 "Asynch job and autowired bean"
Hello,
first thanks for the job done.

I would like to use Reasteasy and spring boot in my project but the configuration was a little complicated and with your project evreything was simpler. I am using the 2.3.0-RELEASE version

I have a problem with  [Asynchronous Job Service](https://docs.jboss.org/resteasy/docs/3.1.1.Final/userguide/html/async_job_service.html) Basically if I am requesting `ht

[2017-03-12 19:36] fabiocarvalho777 commented on #61
Hello Christopher,

I am definitely going to take a look at it soon and, if necessary, provide a fix, or end user documentation entry, for the next version to be released.

Thanks for reporting this issue.

[2017-03-31 02:25] kinssun opened #62 "How to support access static content?"
I need display some static content (html, css) in my spingboot app. But Ｉdont how to deal with

[2017-03-31 02:32] fabiocarvalho777 commented on #62
Read this: http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-spring-mvc-static-content

[2017-03-31 02:32] #62 closed

[2017-04-01 19:35] #54 closed

[2017-04-02 18:25] fabiocarvalho777 commented on #61
Hello,

I was able to reproduce this issue.

I don't have a solution for it yet, but I can tell you already that item 2 would not solve it, since resources are registered in another way when using this starter, [as documented here](https://github.com/paypal/resteasy-spring-boot/blob/master/mds/USAGE.md#resteasy-configuration).

I also don't have free time to work on it right now, but this issue is

[2017-04-06 20:22] christophe1234 commented on #61
Hi,
thanks. I am trying to understand how everything is working :-)
I was thinking that the solution could be found by modifying the method ResteasySpringBootConfig.resteasyBootstrapListener.

When async.job.service.enabled is set to true (I have even tried so set it programmatically: deployment.setAsyncJobServiceEnabled(true) but same result), if I have understood the dispatcher your are setting

[2017-04-07 01:02] fabiocarvalho777 commented on #61
Hello,

You made a good point, that makes sense to me, and actually now I remembering things. [This check for the dispatcher here](https://github.com/resteasy/Resteasy/blob/3.1.0.Final/resteasy-jaxrs/src/main/java/org/jboss/resteasy/spi/ResteasyDeployment.java#L123-L126), was actually written by me in the RESTEasy code because I notice that that was causing problems in RESTEasy Spring Boot starter

[2017-04-09 20:00] christophe1234 commented on #61
Hello,
when I read your answer :-) , it reassures me that the bug is easy to correct. So I tried.

1- ResteasyDeployment.java
if (asyncJobServiceEnabled)
		{
			if(dispatcher == null) {
				AsynchronousDispatcher asyncDispatcher = new AsynchronousDispatcher(providerFactory);
				asyncDispatcher.setMaxCacheSize(asyncJobServiceMaxJobResults);
				asyncDispatcher.setMaxWaitMilliSeconds(asyncJobServic

[2017-04-13 23:56] fabiocarvalho777 commented on #61
Thanks Christophe!

Regarding item 1, I can do it soon (probably next week or so), or you can do it, if sooner than me. Your call. If you do it, you can send a PR for this starter for the changes at `ResteasySpringBootConfig.java` file. You will need to fork this repo, checkout develop branch, apply your changes, then send a PR. You can search in google how to fork, checkout and send PRs using Git

[2017-04-17 15:19] fabiocarvalho777 commented on #61
Hello @christophe1234,

Just checking, have you started working on this? If not, let me know, I have some time this week then I would work on it.

Thanks.

[2017-04-18 18:09] christophe1234 commented on #61
Hello  @fabiocarvalho777,
sorry no time to work on it. I am doing tonight the point 1:  the update of ResteasySpringBootConfig.java with the PR.
Thank you

[2017-04-19 12:59] christophe1234 commented on #61
Hello,
I forked the project. But like you said the test are trickies.I will se tonight to commit a test but not sure to do it properly.

Christophe

[2017-04-20 16:45] fabiocarvalho777 commented on #61
Thanks for letting me know. If you prefer, you can just push the actual code change, I can work with the test. Just let me know.

[2017-04-24 16:14] christophe1234 commented on #61
Hi,
I pushed my code in the branch: https://github.com/christophe1234/resteasy-spring-boot/tree/develop
Christophe

[2017-04-24 17:03] fabiocarvalho777 commented on #61
Cool, thanks.

Now you need to send a Pull Request from your fork. You can do that by pressing the "New pull request" button.

But before that, notice that your commit diff has many lines changed that are not relevant. That is because you are using tabs instead of spaces. Please, revert that, use 4 spaces for indentation.

[2017-05-01 03:48] fabiocarvalho777 commented on #61
I am working on this issue. I have already [added the necessary changes](https://github.com/paypal/resteasy-spring-boot/commit/844c7f1b891fff8a9cf2b8b90cb4c207cde38415) to this starter project, to RESTEasy ([under this branch in my fork](https://github.com/fabiocarvalho777/Resteasy/tree/custom_async_dispatch)), and also [an integration test](https://github.com/paypal/resteasy-spring-boot/blob/issu

[2017-05-02 19:24] christophe1234 commented on #61
Sorry to let you correct everything. I had a look at your modifications and tests. Impossible to launch projects, I think I have a problem of internet connexion. But for me, your updates seem alright.

[2017-05-02 19:44] fabiocarvalho777 commented on #61
It is ok Christophe.

This fix is incomplete though. It registers the async dispatcher, but it doesn't work as it should, it is working synchronously, instead of asynchronously. I will keep working on it to fix it soon. After everything works fine, then I will send the PR to RESTEasy.

[2017-05-07 18:12] christophe1234 commented on #61
Hi,
1- so first I tested your modifications by sending http requests with curl after launching the sample-app project (server.context-parameters.resteasy.async.job.service.enabled=true in application.properties) and everything is working for me.

2- Secondly I launched your tests in AsyncJobIT. I have got 2 failures: asyncRequestTest and fireAndForgetRequestTest.
The problem is on the "body(empty(

[2017-05-09 10:19] cwiejack commented on #26
Hi,
first of all, thank you for your work. I just found your project and it helped me very much!
I'm now at the point, where I want to have different spring beans used for different applications.

After a short look into the code, I came up with the idea to add some kind of a filter annotation to the spring beans and then using that filter in ResteasyEmbedededServletInitializer#createApplicationSe

[2017-05-09 15:35] fabiocarvalho777 commented on #61
Hello,

1- Async requests are definitely not working. When you send an async request, [as described here](https://docs.jboss.org/resteasy/docs/3.1.1.Final/userguide/html/async_job_service.html), you are supposed to receive a 202 response, with no payload, and a `Location` header. None of that is happening. If you are receiving a response message with a content in the payload that means it is not w

[2017-05-09 15:41] fabiocarvalho777 commented on #26
Hello Christian,

Thanks for offering to contribute to this project.
Please feel free to send a PR with your contribution. Please make sure you follow [this document](https://github.com/paypal/resteasy-spring-boot/blob/develop/mds/CONTRIBUTING.md).
Regarding this issue in particular, the API itself is very important. Ideally, adding extra and specific API should be avoid at all costs. JAX-RS spec

[2017-05-12 12:11] snicoll opened #64 "Consider renaming `ResteasySpringBootConfig` to `RestEasyAutoConfiguration`"
Auto-configuration are easy to find because they end with `AutoConfiguration`. This is in no way a requirement but that makes things more consistent in the auto-configuration report.

Also, since the official name of the project is `RESTEasy`,  I'd argue classes that are prefixed that way should be named `RestEasy` and not `Resteasy`.

[2017-05-12 12:29] snicoll opened #65 "Replace JaxrsApplicationScanner by Spring Framework scanning facility"
Is `JaxrsApplicationScanner` scanning the full classpath (not a specific package)?

If you're using Spring, there is an API to do that, something like:

[code]

It would be more consistent that the actual value of component scan was used for the scanning (by default scan only the package in which the `@SpringBootApplication` is defined

[2017-05-12 14:32] cwiejack commented on #26
Hi,
I have some ideas how it could be done. Perhaps I find some time and if I accomplish something I will send you a note and/or a PR.

[2017-05-12 15:34] fabiocarvalho777 commented on #64
Done, thanks for reporting it.

[2017-05-12 15:34] #64 closed

[2017-05-12 15:43] fabiocarvalho777 commented on #65
Actually, [as documented here](https://github.com/paypal/resteasy-spring-boot/blob/master/mds/USAGE.md#jax-rs-application-registration-methods), the starter won't do this classpath scanning by default. The default behavior is to have the JAX-RS Application subclass defined as a Spring bean, and rely on Spring to have it registered.

However, because dependency injection is not really part of the J

[2017-05-12 15:45] fabiocarvalho777 opened #66 "Upgrade to Spring Boot 1.5.3.RELEASE"

[2017-05-12 16:26] #66 closed

[2017-05-12 19:31] fabiocarvalho777 commented on #64
I had problems when trying to rename the other classes to use RestEasy prefix instead of Resteasy (git wouldn't notice any different and would not mark them as renamed), so I left that as is, but I did rename `ResteasySpringBootConfig` to `RestEasyAutoConfiguration`.

[2017-05-12 19:44] fabiocarvalho777 opened #67 "Remove all warnings during build"

[2017-05-12 19:45] fabiocarvalho777 commented on #67
Fixed by https://github.com/paypal/resteasy-spring-boot/commit/873c482535214eb513878f45781a08084eb341b4

[2017-05-12 19:45] #67 closed

[2017-05-12 22:36] fabiocarvalho777 commented on #26
Cool, thanks!

[2017-05-13 08:14] snicoll commented on #65
I've looked at the code so I know classpath scanning is last resort.

I gave you a working code that I actually used locally and all your tests were passing (it returns an object called a `BeanDefinition` but you can see in the code that we don't require the object to be a spring bean).

The only trick is that I scanned `""` (the root of the classpath) and you really don't want to do that.

There

[2017-05-13 15:03] cwiejack commented on #26
Hi Fabio,
as always things are more complicated than one would have thought. I thought that your code in the class ResteasyEmbeddedServletInitializer is responsible for binding the spring beans annotated with "@Path" to the Jaxrs-Application. But I realized this is not the case. Even if I pass an empty list of resources/providers to the ResteasyApplicationBuilder (ResteasyEmbeddedServletInitialize

[2017-05-13 21:49] fabiocarvalho777 commented on #65
That is a good idea. What is the best way to get a hold of that class? (without scanning the whole classpath, of course).

Also, there could be cases where this annotation is not used at all, for example:

[code]
Is there a single and optimal way that would work for `SpringBootApplication` annotated and non-annotated classes?

[2017-05-13 22:27] fabiocarvalho777 commented on #65
That is a good idea. What is the best way to get a hold of that class? (without scanning the whole classpath, of course).

Also, there could be cases where this annotation is not used at all, for example:

[code]
Is there a single and optimal way that would work for `SpringBootApplication` annotated and non-annotated classes?

[2017-05-13 22:29] fabiocarvalho777 commented on #65
[Here is unfinished solution for that](https://github.com/paypal/resteasy-spring-boot/commit/f802c36d74ba3e7d4375de4cecb6530821bbafe8). Just needs [this](https://github.com/paypal/resteasy-spring-boot/blob/issue_65/resteasy-spring-boot-starter/src/main/java/com/paypal/springboot/resteasy/ResteasyEmbeddedServletInitializer.java#L198-L201) to be completed.

[2017-05-15 07:46] snicoll commented on #65
`AutoConfigurationPackages.get(BeanFactory beanFactory)` gives you that.

[2017-05-15 15:04] fabiocarvalho777 commented on #65
That gives me a list of packages. Is it safe to use just the first only? Or should I end up scanning all of them?

[2017-05-15 15:49] fabiocarvalho777 commented on #26
Hello Christian,

Yes, unfortunately all of this is not straightforward.

I believe the unfinished solution I had was on the right track though, but it's been a while.
So, I have created [this new branch here](https://github.com/paypal/resteasy-spring-boot/tree/issue_26) just so we can work with this issue 26.

The only problem though is that right now I am working with two other issues in paralle

[2017-05-15 15:56] fabiocarvalho777 commented on #61
Hello Christophe, sorry this is taking time to get done. I will definitely go back to it and finish it soon. Right now I have two other issues going on in this project and I am working with them in parallel too, besides this one, so it's been a busy time.

[2017-05-15 19:16] cwiejack commented on #26
Hi,
yes this sounds like a really good plan. There is no hurry. If I find some time, I will look further into the code and try to understand what is really happening there ;) Keep me up to date if you manage to merge the code properly.
Regards
Christian

[2017-05-16 05:06] snicoll commented on #65
No. Why would you ignore the other ones the user may have configured? I need to remember how it works (or you could try) but I think custom component scan directives are detected by this.

[2017-05-16 08:30] fabiocarvalho777 commented on #65
I don't mean to ignore anything. You pointed earlier in this issue that I should use the package where the `SpringBootApplication` annotated class is as the only place to be scanned, and then pointed me to `AutoConfigurationPackages.get(BeanFactory beanFactory)`, but it is clear that those two things are not the same.

In other words, it seems `AutoConfigurationPackages.get(BeanFactory beanFactory

[2017-05-17 23:04] fabiocarvalho777 opened #69 "Scan every package registered by Spring framework, instead of the whole class-path"
The `scanning` registration method scans the whole classpath when looking for JAX-RS Application sub-class, and that impacts greatly performance during application start-up.

Instead of that, only packages registered to be scanned by Spring framework should be searched when registering JAX-RS Application sub-classes (regardless of them being Spring beans or not).

[2017-05-17 23:06] fabiocarvalho777 commented on #65
I am going to cover "scan every package registered by Spring framework, instead of the whole class-path" in this separated issue #69. The idea is to get that implemented only in the next major release (3.0.0), giving a chance for application to move away from it (in case they have their JAX-RS Application subclass scanned in a non Spring scanned package), and not breaking backward compatibility.

[2017-05-17 23:55] fabiocarvalho777 commented on #65
Done. See #70

[2017-05-17 23:55] #65 closed

[2017-05-18 00:06] fabiocarvalho777 commented on #69
[Here](https://github.com/paypal/resteasy-spring-boot/commit/2a6e62f02daddd23fe82bb33a2d864abbd2d1db2) is a temporary, but functional and complete, solution for this issue (under branch [issue_69](https://github.com/paypal/resteasy-spring-boot/tree/issue_69)).

This issue can be implemented only when working on version 3.0.0 though, which should happen when Spring Boot 2.0.0 or RESTEasy 4.0.0 is r

[2017-05-18 19:03] fabiocarvalho777 commented on #26
Hello,

I believe I finished implementing this feature (at least to make it functional). [Here is the commit](https://github.com/paypal/resteasy-spring-boot/commit/cc813b65acd781788220123e29aafcbdbc388b24) (not in the main development branch yet).

There are some pending tasks to complete it entirely, I documented them the commit. Here they are:

1. Review carefully JAX-RS 2.0 specification to mak

[2017-05-18 19:49] cwiejack commented on #26
Hi Fabio,
thanks for your work. I have taken a look at your changes. I have taken a similar approach on my first attempt earlier this week. In my simple testcase (https://github.com/cwiejack/resteasy-spring-boot/tree/issue_26_appdefinition) this doesn't work. I'm currently on vacation, but next week I should have some time to take a closer look.
Regards
Christian

[2017-05-18 21:29] fabiocarvalho777 commented on #61
Hello Christophe,

First of all, I apologize, you were right! My solution was correct and complete, all it needed was fixing those two tests, replacing the `empty` check by `isEmptyString`. The final solution is already available in branch [issue_61](https://github.com/paypal/resteasy-spring-boot/tree/issue_61).

Also, as you know, it needs a change in RESTEasy as well. I have already reported it

[2017-05-18 22:19] fabiocarvalho777 commented on #61
I have just pushed a PR to RESTEasy, here it is: https://github.com/resteasy/Resteasy/pull/1167

[2017-05-19 12:18] christophe1234 commented on #61
Hello Fabio,
good news. I am happy that we are both agree that your fix is correct and working :-)

When all packages will be released, I will intregate them in my project.

Thank you for your work
Christophe

[2017-05-19 14:06] fabiocarvalho777 commented on #61
Another good news, RESTEasy has already merged our PR, and it will be released with the next RESTEasy version, 3.1.3.Final.
So, as soon as that is released, then I can release a RESTEasy starter version with this fix.

[2017-05-22 17:40] ui4j commented on #61
RestEasy 3.1.3.Final is released.

https://issues.jboss.org/browse/RESTEASY-1655 (Closed)

[2017-05-22 22:20] fabiocarvalho777 opened #72 "Upgrade RESTEasy to version 3.1.3.Final"

[2017-05-23 16:28] #72 closed

[2017-05-23 16:40] fabiocarvalho777 commented on #61
This issue is finally done. The solution is available in `com.paypal.springboot:resteasy-spring-boot-starter-parent:2.3.2-SNAPSHOT`. I will release version `2.3.2-RELEASE` soon.

[2017-05-23 16:40] #61 closed

[2017-05-23 18:50] fabiocarvalho777 commented on #26
Cool. If you work on it, please continue out of this [issue_26](https://github.com/paypal/resteasy-spring-boot/compare/issue_26) branch and my latest changes on it.

[2017-05-24 05:58] cwiejack commented on #26
Hi Fabio,

based on your latest changes on issue_26 branch I created a small test case to show you the problem I also faced with my implementation.
Here is a little summary what I have done:
- create a new Spring-Boot-Application with a new JaxRS-Application
- Create a non springbean endpoint "EchoV1" and use in in "getClasses" of the JaxRS-Application
- Create another endpoint "EchoV2" and mark i

[2017-05-25 16:08] fabiocarvalho777 commented on #26
Thanks Christian,

Yes, everything you said makes sense to me, that is how I understand it too.
Your test should have worked, if it didn't, there is definitely something still wrong in there.
Let me know if you find the root cause or more clues.
I will also take a look at it when I have some free time.

Thanks!

[2017-06-06 19:45] fabiocarvalho777 commented on #61
@christophe1234 Notice that version 2.3.2-RELEASE was released yesterday with this fix.

[2017-07-27 14:27] avaysberg opened #75 "The RESTeasy validation doesn't work with packaging war"
Hi,

i found out some problem with this module. The RESTeasy validation doesn't work. This happens in case if we use resteasy-spring-boot in web-application (packaging war):

What we make?
1. we use the sample-app
2. we change to use the war ->(<packaging>war</packaging>)
2. deploy on tomcat
3. added to the @NotEmpty >  public EchoMessage echo(@NotEmpty String echoText) {
4. send request with empt

[2017-07-27 14:57] fabiocarvalho777 commented on #75
Could you please share in GitHub a modified version of sample-app with bean validations that work as JAR and a modified version of sample-app with bean validations that does NOT work as WAR?
Thanks.

[2017-07-27 18:35] Slahser opened #76 "Upgrade to SpringBoot 1.5.6"
got NoClassDefFoundError for ServletRegistrationBean in spring boot 1.5.6
but works fine in 1.5.3
maybe because of some dependencies of the deprecated package of ServletRegistrationBean

[2017-07-27 19:11] avaysberg commented on #75
Hi,
this the sampe-app like attachment:

[sample-app.zip](https://github.com/paypal/resteasy-spring-boot/files/1180958/sample-app.zip)

# **Case Spring-Boot standalone**

## **This the logs if I start like standalone:**
_Server:_
20:40:24.121 [localhost-startStop-1] INFO org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext Refreshing org.springframework.boot.cont

[2017-07-28 09:11] avaysberg commented on #75
Hi,
i think, that the problem is, that standalone spring boot find this dependencies:
<dependency>
            <groupId>org.jboss.resteasy</groupId>
            <artifactId>resteasy-validator-provider-11</artifactId>
            <version>3.1.3.Final</version>
        </dependency>
but the web spring boot doesn't find it. The question is why?  RESTEasy (https://docs.jboss.org/resteasy/docs/3.1.3.Fi

[2017-07-28 20:36] miguelsauza commented on #75
"Web spring boot" means that runs on tomcat (or other servlet container)?
I made some changes on your project; execute using:
[sample-app-gradle.zip](https://github.com/paypal/resteasy-spring-boot/files/1184194/sample-app-gradle.zip)

$ gradle clean build
$ java -jar .\build\libs\sample-app.war

[code]

[2017-07-29 16:44] fabiocarvalho777 commented on #76
That probably happened due to a jar conflict in your app, because the latest starter version (at the time you used it) supported Spring Boot 1.5.3. I have just upgraded it though. It should work now with this new starter version (2.3.3-RELEASE). I am about to release it.

[2017-07-29 16:44] #76 closed

[2017-07-29 16:49] fabiocarvalho777 commented on #75
Hey @miguelsauza ,

What @avaysberg means by "web spring boot" is when you build your Spring Boot app as WAR and deploy it to a regular standalone servlet container, instead of running it as a Spring Boot micro-service out of its executable jar (with the container embedded to it).[

Running Spring Boot apps as WARs is documented in Spring Boot document](http://docs.spring.io/spring-boot/docs/1.5.3

[2017-07-29 17:51] fabiocarvalho777 commented on #75
Hello @avaysberg ,

Thanks for sharing the a modified version of sample-app with bean validations. Based on that, I added Bean Validations to the starter sample-app and also to its integration tests (see #75). Everything is working as expected.

When it comes to a WAR version of sample-app, I assume everything works as expected as well, although I haven't tested it. I noticed that you didn't share

[2017-07-29 17:54] fabiocarvalho777 opened #77 "Upgrade RESTEasy to version 3.1.4.Final"

[2017-07-29 17:59] #77 closed

[2017-07-29 21:28] fabiocarvalho777 commented on #75
I have just tested myself a WAR version of sample-app and I got the same wrong result you did, a 200 instead of a 400. I can see though `resteasy-validator-provider-11` and `hibernate-validator` in the `WEB-INF/lib` folder, so I am not really sure yet what the root cause is.

[2017-07-29 22:37] fabiocarvalho777 commented on #75
This seems to be a legit cause. I have found out that the GeneralValidator implementation is not available for RESTEasy as a context resolver ([resolver here](https://github.com/resteasy/Resteasy/blob/3.1.4.Final/resteasy-jaxrs/src/main/java/org/jboss/resteasy/core/ResourceMethodInvoker.java#L113) should not be null, but in case of WAR deployments, it is).

I will do more investigation on it when

[2017-07-30 20:34] avaysberg commented on #75
Hi,
so, make it working for both cases. I prepare this configuration object and prepare the ValidatorContextResolver and work for both solution:

`package com.sample.app;

import org.jboss.resteasy.plugins.validation.ValidatorContextResolver;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class ApplicationConf

[2017-07-31 13:57] avaysberg commented on #75
Today I spent some time and found out, that the classes with @Provider not load, but ValidatorContextResolver is annotated:
`@Provider
public class ValidatorContextResolver extends AbstractValidatorContextResolver implements ContextResolver<GeneralValidator>
{
}
`

[2017-08-01 15:44] fabiocarvalho777 commented on #75
Thanks @avaysberg , I am taking a look at it now.

[2017-08-01 18:51] fabiocarvalho777 commented on #76
Hey @Slahser , just want to let you know that I have just released version 2.3.3-RELEASE of this starter, which is aligned with Spring Boot 1.5.6. It might take a few hours though for the release artifact to synchronize with Maven central repos. It should be available no later than tomorrow.

[2017-08-01 20:13] Slahser commented on #76
Thank you so much

[2017-08-02 15:58] fabiocarvalho777 commented on #76
You're welcome!

[2017-08-02 15:59] fabiocarvalho777 commented on #75
I had to pause this for a while, too busy with work. I will come back to this as soon as possible.

[2017-08-15 15:53] jmc420 opened #79 "Logging"
I have been trying to put together a simple spring resteasy application using the reseteasy-spring-boot project.

Everything compiles and when I run the webapp in Tomcat, the logs look as though everything is configured correctly:

16:34:45.462 [localhost-startStop-1] INFO org.jboss.resteasy.resteasy_jaxrs.i18n - RESTEASY002225: Deploying javax.ws.rs.core.Application: class org.jamescowan.example.

[2017-08-16 02:19] fabiocarvalho777 commented on #79
Hi,

Try removing [all these lines](https://github.com/jmc420/java_examples/blob/master/arangodb/src/main/java/org/jamescowan/example/arangodb/rest/JaxrsApplication.java#L14-L23), and annotate [this class](https://github.com/jmc420/java_examples/blob/master/arangodb/src/main/java/org/jamescowan/example/arangodb/rest/HelloService.java#L7) as '@Component', making it a Spring bean.

Also take a look

[2017-08-16 02:19] #79 closed

[2017-08-16 09:16] jmc420 commented on #79
Thanks. I added the SpringBootServletInitializer and followed the guidelines for running it as a war file here: https://docs.spring.io/spring-boot/docs/current/reference/html/howto-traditional-deployment.html

The actuator endpoints now work but the RestEasy endpoints still do not work.

The HelloService has a Path of "/service" and the hello method has a path of "/hello" and JaxRSApplication has

[2017-08-16 22:27] fabiocarvalho777 commented on #79
Hi. I tested your application, converted it back to executable jar, and it worked fine for me. See the PR I sent to you.

[2017-08-17 12:43] jmc420 commented on #79
Thanks very much for doing this. I will let you know if I find a way to make it work as a war file in an external Tomcat.

[2017-08-18 14:46] fabiocarvalho777 opened #80 "Add PR template and standardize contributions MD"
Example of PR template:
https://github.com/paypal/squbs/blob/master/.github/PULL_REQUEST_TEMPLATE.md

Example of CONTRIBUTING:
https://github.com/paypal/squbs/blob/master/CONTRIBUTING.md

[2017-10-18 21:37] trajano opened #81 "Unable to get @Value or @Autowired for @Providers"
I have a class that looks like this...

[code]

However, when I get the value for `showStackTrace` it is always false.  Also anything `@Autowired` returns null

I am registering this class via `MyApplication.getClasses()`

[2017-10-18 22:25] fabiocarvalho777 commented on #81
Hello,
Do not register this class via `MyApplication.getClasses()`.
Instead of that, just make sure it is a Spring bean, that is enough.
I see it is annotated as `@Component`. In this case, then just make sure its package is scanned by Spring, and then everything should work fine.

[2017-10-18 22:25] #81 closed

[2017-10-19 12:40] trajano commented on #81
Actually it does not work.  If I don't have it in MyApplication.getClasses() the provider does not even register and just uses the default 404 handler.  I tried to register it a few different ways

[code]

[2017-10-19 21:24] fabiocarvalho777 commented on #81
Hello @trajano ,

Just to prove it's been working as designed, I have just added to the [sample app](https://github.com/paypal/resteasy-spring-boot/tree/develop/sample-app) an ExceptionMapper which has an injection point. I have also added an automated integration test to exercise that provider (the exception mapper) and everything worked normally.

[You can see what I did in this commit](https://

[2017-10-19 23:28] trajano commented on #81
Thanks will do. One difference we had just at cursory glance was you don't use @Configuration and @Value but you did have Autowired and component so I will see how things fare with that.

One other thing that is likely different is my exception mapper is on a different jar

[2017-10-19 23:52] fabiocarvalho777 commented on #81
I have many applications where providers come from different jars and it also works fine. So, no, that is not the case neither.

I believe the reason is still the fact that your class is not being registered as a Spring bean properly.

Try this:

[code]

Notice that I removed any parameter from `SpringBootApplication` annotation and added to `ComponentScan`.

Also, you do NOT have to add explicitl

[2017-10-20 01:14] trajano commented on #81
Thanks for the tips.  Hopefully it's just that when I try it at work tomorrow.  (Sorry forgot to write that I was on the bus when I was replying)

However, I did recall something that may be causing the problem or at least hiding the problem.  The `@Value` annotation I made it point to a `boolean` I think it may work if I change it to `Boolean`.  Anyway I'll look at the code again tomorrow and see

[2017-10-20 07:59] counterFish opened #82 "resteasy-ContainerRequestFilter-didnt-work-in-springboot"
I create RequestFilte class implements ContainerRequestFilter, hoping to logging something. However , any method never go into it. I added @Provider & @Prematching . Can you help me?

[2017-10-20 14:17] miguelsauza commented on #82
I implemented the same interface as a Provider (pre-matching) like this:

`@Provider
@PreMatching
@Component
public class ContainerRequestFilterImpl implements ContainerRequestFilter { /** overriden methods */ }`

If your spring-boot-app does no scan the package where the class is, check your scanning config. maybe you want to create this implementation as a Bean, so remove Component annotation an

[2017-10-20 15:00] counterFish commented on #82
Did your springboot app work? What is your config class like? Can you post all related resource here?

[2017-10-20 16:28] fabiocarvalho777 commented on #82
Hello @counterFish ,

I have added a ContainerResponseFilter test case to help you out.
[Look at this commit](https://github.com/paypal/resteasy-spring-boot/commit/7d99a7ec053978b4f2bc22885b067dff8685b67a). Everything works as designed by the way.

@miguelsauza thanks for helping as well.

Regards,
Fabio Carvalho.

[2017-10-20 16:28] #82 closed

[2017-10-20 18:01] counterFish commented on #82
I start a new project and it worked. However when intergrated with my existing one , it didn't work. Before , request with param like 'source_id' (using @JsonProperty("source_id") for sourceId) can work and console and log file can print 'Unrecognized field exception' . After,even just adding pom dependency, @JsonProperty can't work , request param must be sourceId, at the same time, 'Unrecognized

[2017-10-20 18:18] counterFish commented on #82
Besides, your ContainerResponseFilter can work, not ContainerRequestFilter

[2017-10-20 18:18] counterFish commented on #82
@fabiocarvalho777

[2017-10-20 18:31] counterFish commented on #82
what i did:
0.add pom dependency
1.@Component@Provider@PreMatching
public class RequestFilter implements ContainerResponseFilter,ContainerRequestFilter
2.@Component@ApplicationPath("/")
public class JaxrsApplication extends Application
3.SpringBootApp extends SpringBootServletInitializer
4.resteasy.jaxrs.app.registration=property
resteasy.jaxrs.app.classes=myJaxrsApplication
Did I missed something

[2017-11-06 15:41] fabiocarvalho777 opened #83 "Upgrade Spring Boot to version 1.5.8"

[2017-11-06 15:42] fabiocarvalho777 commented on #83
This issue has been implemented via this change: https://github.com/paypal/resteasy-spring-boot/commit/9d70c5f1605b8ce419f6a765328501c852b8b247

[2017-11-06 15:42] #83 closed

[2017-11-06 16:24] fabiocarvalho777 opened #85 "Automate deployment from CI/CD"
Automate deployment from CI/CD to deploy SNAPSHOT and RELEASE versions from Travis CI, instead of manually.

[2017-12-12 15:55] sebady opened #89 "Class conflicts in resteasy-spring-boot starter"
I see the following class conflicts in resteasy-sprint-boot-starter:

[INFO] Checking runtime classpath
[WARNING] Found duplicate and different classes in [org.apache.tomcat:tomcat-annotations-api:8.5.23, org.jboss.spec.javax.annotation:jboss-annotations-api_1.2_spec:1.0.0.Final]:
[WARNING]   javax.annotation.Generated
[WARNING]   javax.annotation.ManagedBean
[WARNING]   javax.annotation.PostConst

[2018-03-20 12:53] bianbian-org opened #90 "cannot work in boot 2.0.0"
java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy
	at sun.reflect.annotation.AnnotationParser.parseClassArray(AnnotationParser.java:724) ~[?:1.8.0_141]
	at sun.reflect.annotation.AnnotationParser.parseArray(AnnotationParser.java:531) ~[?:1.8.0_141]
	at sun.reflect.annotation.AnnotationParser.parseMemberValue(AnnotationParser.java:355) ~[?:1.8.0_141]
	at sun.reflect

[2018-03-26 16:48] fabiocarvalho777 commented on #90
Hi,

Spring Boot 2.0 is not supported yet. Also, we have been collaborating with RESTEasy team and this starter, which was originally developed by PayPal, has been adopted by RESTEasy team itself. The code has been moved to their Git org already, but their first released has not been announced yet. Probably that very first release will support Spring Boot 2.

After that happens, I will freeze deve

[2018-04-11 13:17] jens-meiss commented on #90
Hi,

i thought it would be a good idea to create a similar ticket and subscribe to it in

* https://github.com/resteasy/resteasy-spring-boot

to get some status updates, since the development here seem stopped as you said, but the "Issues" tab is not visible yet (at least for none project members).

Do you have any news about a roadmap for the first release of resteasy/resteasy-spring-boot?

We wo

[2018-04-11 14:34] fabiocarvalho777 commented on #90
Hello Jens,

You made some good points.
I will let @asoldano answer it. He is the person responsible for RESTEasy repo for this starter.

Thanks.

[2018-04-12 08:45] jens-meiss commented on #90
thx!

for anyone else who lands here, until the RestEasy support is available for Spring-Boot 2.0 maybe the
starter-jersey is an alternative for you ...

<dependency>
  <groupId>org.springframework.boot</groupId>
  <artifactId>spring-boot-starter-jersey</artifactId>
</dependency>

[2018-04-12 23:42] asoldano commented on #90
@fabiocarvalho777 @jens-meiss I'm thinking about an initial release from https://github.com/resteasy/resteasy-spring-boot with pretty much what we currently have on master there (basically, beside the refactoring related to the sources' move, I've made the project compile with JDK9 and JDK10).
Spring Boot 2 support would come later.
As for the issue tab not being visible, that's on purpose. The id

[2018-04-13 11:59] jens-meiss commented on #90
@asoldano thx for the info, i created a feature request ticket in your jira

* https://issues.jboss.org/browse/RESTEASY-1867